/* Components */
/* CSS HEX */
:root {
    --dark-slate-blue: #3d3b8eff;
    --glaucous: #6883baff;
    --cultured: #f9f9f9ff;
    --china-pink: #e072a4ff;
    --granny-smith-apple: #b0e298ff;
}

html {
    font-family: "Raleway", sans-serif;
}



.header {
        background-image: linear-gradient(pink, var(--china-pink));
        border-bottom: groove 3px;
}
     
.header__title {
    font-family: "Grandstander", cursive;
    font-size: 30pt;
    color: var(--dark-slate-blue);
    padding-top: 1rem;
}

.header__list li {
    list-style: none;
}


.main {
    background-image: repeating-linear-gradient(var(--glaucous), skyblue, var(--glaucous), skyblue, var(--glaucous), skyblue, var(--glaucous), skyblue);
}



.post {
    border: solid black 15px;
    background-color: red;
    border-radius: 20%;
}





.footer {
    background-image: radial-gradient(limegreen ,var(--granny-smith-apple));
}


@media (min-width: 500px) {
    .header__title {
        font-size: 40pt;
    }
}

@media (min-width: 800px) {
    .header__title {
        font-size: 50pt;
    }
}